<footer class="block block--dark footer">
  <div class="container grid footer__class">
    <sectaion class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">item 1</h2>
        <img
          class="icon collapsible__chevran"
          src="/images/chevron.png"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">websitr Hosting</a></li>
          <li><a href="#">Free Automate Wordpress</a></li>
          <li><a href="#">Migration</a></li>
        </ul>
      </div>
    </sectaion>
    <sectaion class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">item 2</h2>
        <img
          class="icon collapsible__chevran"
          src="/images/chevron.png"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, labore.
      </div>
    </sectaion>
    <sectaion class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">item 3</h2>
        <img
          class="icon collapsible__chevran"
          src="/images/chevron.png"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, labore.
      </div>
    </sectaion>
    <sectaion class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">item 4</h2>
        <img
          class="icon collapsible__chevran"
          src="/images/chevron.png"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, labore.
      </div>
    </sectaion>
    <section class="footer__brand">
      <img src="/images/logo.svg" alt="" />
      <p class="footer__copyright">Copy right 2020 Mosh Hamedani</p>
    </section>
  </div>
</footer>
