<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/CSS, files/normalize.css" />
    <link rel="stylesheet" href="/CSS, files/style.CSS" />
  </head>
  <body>
    <nav class="nav collapsible">
      <a class="nav__brand" href="/"><img src="/images/logo.svg" alt="" /></a>
      <svg class="icon icon--white nav__toggler">
        <use xlink:href="images/sprite.svg#menu "></use>
      </svg>
      <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#">Hosting</a></li>
        <li class="nav__item"><a href="#">VOS</a></li>
        <li class="nav__item"><a href="#">Domain</a></li>
        <li class="nav__item"><a href="#">Pricing</a></li>
      </ul>
    </nav>
    <div class="block block__dark block--skewed-left hero" >
      <div class="container grid grid--cols-2">
        <header class="block__header hero__content" data-aos="fade-left">
          <h1 class="block__heading">Cloud hosting for Pros</h1>
          <p class="hero__tagline">
            Deploy your website in less than 60 seconds.
          </p>
          <a href="" class="btn btn--accent btn--stretched">Get Started</a>
        </header>
        <img class="hero__img" src="/images/banner.png" alt="" data-aos="fade-down-right"/>
      </div>
    </div>
    <div class="block container block-domain" data-aos="flip-left">
      <header class="block__header">
        <h2>Staer at 9$ per month</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
          libero?
        </p>
      </header>
      <div class="input-group">
        <button class="btn btn--accent">
          <svg class="icon icon--white">
            <use xlink:href="images/sprite.svg#search"></use>
          </svg>
          search
        </button>
        <input
          type="text"
          class="input"
          placeholder="Entrer domain name here ..."
        />
      </div>
      <ul class="list block-domain__prices">
        <li><span class="badge badge--secondary">.com 9$</span></li>
        <li>.sg 10$</li>
        <li>.space 11$</li>
        <li>.info 14$</li>
        <li>.net 10$</li>
        <li>.xyz 10$</li>
      </ul>
    </div>
    <div class="block container block-plans" data-aos="flip-up">
      <div class="grid grid--cols-3">
        <div class="plan">
          <div class="card card--secondary">
            <header class="card__header">
              <h3 class="plan__name">Entry</h3>
              <span class="plan__price">$14</span>
              <span class="plan__billing--cycle">/month</span>
              <span class="badge badge--secondary badge--small">10% off</span>
              <span class="plan__description">easy start on the club</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Website</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3 GB RAM</li>
              </ul>
              <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="plan plan--popular">
          <div class="card card--primery">
            <header class="card__header">
              <h3 class="plan__name">Entry</h3>
              <span class="plan__price">$14</span>
              <span class="plan__billing--cycle">/month</span>
              <span class="badge badge--primary badge--small">10% off</span>
              <span class="plan__description">easy start on the club</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Website</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3 GB RAM</li>
              </ul>
              <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="plan">
          <div class="card card--secondary">
            <header class="card__header">
              <h3 class="plan__name">Entry</h3>
              <span class="plan__price">$14</span>
              <span class="plan__billing--cycle">/month</span>
              <span class="badge badge--secondary badge--small">10% off</span>
              <span class="plan__description">easy start on the club</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Website</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3 GB RAM</li>
              </ul>
              <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block container">
      <header class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>
          Lorem ipsum dolgrid--cols-or sit amet consectetur adipisicing elit. Quibusdam,
          odit nemo.
        </p>
      </header>
      <article class="grid grid--cols-2 feature">
        <div class="feature__content">
          <span class="icon-container" data-aos="zoom-in-up">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </span>
          <h3 class="featur__heading">Super Easy to Use</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum
            eum consequatur dolore maxime quae magnam ad impedit nobis quas
            provident.
          </p>
          <a href="#" class="link-arow">lrean more</a>
        </div>
        <picture data-aos="zoom-out-up">
          <source
            type="image/webp"
            srcset="images/easy.webp 1x, images/easy@2x.webp 2x" />
          <source
            type="image/jpg"
            srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x" />
          <img class="feature__img" src="images/easy@2x.jpg" alt=""
        /></picture>
      </article>
    </div>
    <div class="block container">
      <article class="grid grid--cols-2 feature">
        <picture data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">
          <source
            type="image/webp"
            srcset="images/fast.webp 1x, images/fast@2x.webp 2x" />
          <source
            type="image/jpg"
            srcset="images/fast.jpg 1x, images/fast2x.jpg 2x" />
          <img class="feature__img" src="images/easy@2x.jpg" alt=""
        /></picture>
        <div class="feature__content">
          <span class="icon-container" data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </span>
          <h3 class="featur__heading">Super Easy to Use</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum
            eum consequatur dolore maxime quae magnam ad impedit nobis quas
            provident.
          </p>
          <a href="#" class="link-arow">lrean more</a>
        </div>
      </article>
    </div>
    <div class="block container">
      <article class="grid grid--cols-2 feature">
        <div class="feature__content">
          <span class="icon-container" data-aos="fade-right">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </span>
          <h3 class="featur__heading">Super Easy to Use</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum
            eum consequatur dolore maxime quae magnam ad impedit nobis quas
            provident.
          </p>
          <a href="#" class="link-arow">lrean more</a>
        </div>
        <picture data-aos="fade-down-right">
          <source
            type="image/webp"
            srcset="images/support.webp 1x, images/support@2x.webp 2x" />
          <source
            type="image/jpg"
            srcset="images/support.jpg 1x, images/support@2x.jpg 2x" />
          <img class="feature__img" src="images/easy@2x.jpg" alt=""
        /></picture>
      </article>
    </div>
    <div class="block container">
      <article class="grid grid--cols-2 feature">
        <picture data-aos="flip-right">
          <source
            type="image/webp"
            srcset="images/woedpress.webp 1x, images/wordpress@2x.webp 2x" />
          <source
            type="image/jpg"
            srcset="images/wordpress.jpg 1x, images/wordpress@2x.jpg 2x" />
          <img class="feature__img" src="images/easy@2x.jpg" alt=""
        /></picture>
        <div class="feature__content">
          <span class="icon-container" data-aos="zoom-in-down">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </span>
          <h3 class="featur__heading">Super Easy to Use</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum
            eum consequatur dolore maxime quae magnam ad impedit nobis quas
            provident.
          </p>
          <a href="#" class="link-arow">lrean more</a>
        </div>
      </article>
    </div>
    <div class="block block__dark block--skewed-right block-shadowcase">
      <header class="block__header">
        <h2>User-Frindly Control Panel</h2>
      </header>
      <div class="container grid grid--cols-2">
        <picture class="block-showcase__img" data-aos="zoom-out-down">
          <source
            type="image/webp"
            srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x" />
          <source
            type="image/png"
            srcset="images/ipad.png 1x, images/ipad@2x.png 2x" />
          <img class="imgf" src="/images/ipad.png" alt=""
        /></picture>
        <ul class="lis t">
          <li><svg class="icon icon--primary icon--place">
            <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
            <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#snap"></use>
                </svg>
              </span>
            </div>
            <div class="media__body">
              <h3 class="media__title  ">Easy start& Manage updates</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta velit provident facilis quibusdam impedit quod, inventore maxime debitis dolorum ipsa recusandae fugit!</p>
            </div>
          </div></li>
          <li  data-aos="zoom-out-left">
            <svg class="icon icon--primary icon--place">
              <use xlink:href="images/sprite.svg#computer"></use>
            </svg><div class="media">
            <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#snap"></use>
                </svg>
              </span>
            </div>
            <div class="media__body">
              <h3 class="media__title  ">Easy start& Manage updates</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta velit provident facilis quibusdam impedit quod, inventore maxime debitis dolorum ipsa recusandae fugit!</p>
            </div>
          </div></li>
          <li><svg class="icon icon--primary icon--place">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg><div class="media">
            <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#snap"></use>
                </svg>
              </span>
            </div>
            <div class="media__body">
              <h3 class="media__title  ">Easy start& Manage updates</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta velit provident facilis quibusdam impedit quod, inventore maxime debitis dolorum ipsa recusandae fugit!</p>
            </div>
          </div></li>
        </ul>
      </div>
    </div>
    <div class="block"  data-aos="fade-down-right">
      <header class="block__header">
        <h2>What our Customer re Saying</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate
          voluptas iusto consequatur molestias quo qui.
        </p>
      </header>
        <div class="container">
          <div class="card testimonial">
    <div class="grid grid--cols-2">
      <div class="testimonial__image">
        <img src="/images/testimonial.jpg" alt="a happy ,smiling customer" />
        <span class="icon-container icon-container--accent">
          <svg class="icon icon--white icon--small">
            <use xlink:href="images/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
  
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, voluptas!
          Nihil quisquam, consequatur officia adipisci aspernatur sint atque ex
          voluptatum?
        </p>
        <footer class="footer">
          <div class="media"> 
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </span>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author  ">John Smith </h3>
              <p class="media__p">Allen Company</p>
            </div>
          </div>
        </footer>
      </blockquote>       </div>
  </div>
        </div>
    </div>
    <footer class="block block--dark footer">
      <div class="container grid footer__class">
        <div class="collapsible collapsible--expanded footer__section">
          <div class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">item 1</h2>
            <img
              class="icon collapsible__chevran"
              src="/images/chevron.png"
              alt=""
            />
          </div>
          <div class="collapsible__content">
            <ul class="list">
              <li><a href="#">websitr Hosting</a></li>
              <li><a href="#">Free Automate Wordpress</a></li>
              <li><a href="#">Migration</a></li>
            </ul>
          </div>
        </div>
        <div class="collapsible footer__section">
          <div class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">item 2</h2>
            <img
              class="icon collapsible__chevran"
              src="/images/chevron.png"
              alt=""
            />
          </div>
          <div class="collapsible__content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, labore.
          </div>
        </div>
        <div class="collapsible footer__section">
          <div class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">item 3</h2>
            <img
              class="icon collapsible__chevran"
              src="/images/chevron.png"
              alt=""
            />
          </div>
          <div class="collapsible__content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, labore.
          </div>
        </div>
        <div class="collapsible footer__section">
          <div class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">item 4</h2>
            <img
              class="icon collapsible__chevran"
              src="/images/chevron.png"
              alt=""
            />
          </div>
          <div class="collapsible__content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, labore.
          </div>
        </div> 
        <div class="footer__brand">
          <img src="/images/logo.svg" alt="" />
          <p class="footer__copyright">Copy right 2020 Mosh Hamedani</p>
        </div>
      </div>
    </footer>
    
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
